.item {
    overflow: auto;
    min-width: 400px;
    height: 490px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 20px;
    border-radius: 20px;
}

.imgContainer {
    width: 100%;
    height: 40%;
}

.picture-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/* pic section data */

.logo {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    left: 30px;
    top: -175px;
    background-color: white;
    overflow: auto;
    z-index: 1;
}

.logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}


/* info section data */

.info {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: white;
}

.info .fav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    background-color: black;
    border-radius: 20px;
    right: 20px;
    top: -15px;
}

.info .fav .favWord {
    margin: 5px;
    padding-right: 7px;
    padding-bottom: 3px;
    color: white;
}

.info .fav .bookmark {
    padding-top: 10px;
    color: white;
}

.text-container {
    width: 100%;
    position: absolute;
    z-index: 100;
}

.address {
    margin-left: 10px;
    text-align: left;
}

.address .company {
    color: black;
    margin-bottom: 5px;
}

.chat {
    margin: 30px auto;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 14px;
    width: 80%;
    background-color: #eee;
    border-radius: 20px;
}

.chat .chat-containt {
    display: flex;
    justify-content: space-around;
    column-gap: calc(60%);
    border-radius: 20px;
}

.chat .response {
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
}

.ausbildung {
    margin: 10px auto;
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 14px;
    width: 80%;
    background-color: #eee;
    border-radius: 20px;
    text-align: left;
}

.ausbildung-containt {
    display: flex;
    justify-content: space-around;
    column-gap: 40%;
}

.ausbildung-containt .title {
    margin-right: 5px;
}

.ausbildung .position {
    padding-left: 5px;
    padding-top: 0px;
    margin-top: 0;
}